{:duct.profile/base
 {:duct.core/project-ns where-is-me

  :duct.migrator/ragtime
  {:migrations [#ig/ref :where-is-me.migration/create-locations]}

  [:duct.migrator.ragtime/sql :where-is-me.migration/create-locations]
  {:up ["CREATE TABLE locations (
id INTEGER PRIMARY KEY,
location TEXT,
timestamp TIMESTAMP DEFAULT (datetime('now','localtime')))"]
   :down ["DROP TABLE locations"]}

  :duct.router/ataraxy
  {:routes {[:get "/example"] [:where-is-me.handler/example]
            ;;
            [:post "/" {{:keys [loc]} :body-params}]
            [:where-is-me.handler.core/create loc]

            [:get "/"]            [:where-is-me.handler.core/find]
            [:get "/list"]        [:where-is-me.handler.core/lists]
            [:get "/list/" param] [:where-is-me.handler.core/list param]}}

  :where-is-me.handler/example {:db #ig/ref :duct.database/sql}
  ;;
  :where-is-me.handler.core/create {:db #ig/ref :duct.database/sql}
  :where-is-me.handler.core/find   {:db #ig/ref :duct.database/sql}
  :where-is-me.handler.core/list   {:db #ig/ref :duct.database/sql}
  :where-is-me.handler.core/lists  {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}}
